{% set annotations = schemaview.annotation_dict(element.name) -%}
---
title: {{annotations.order}}. {{element.name}} 
---
{% if not level -%}
{% set level = 1 -%}
{% endif -%}
{% if not parent -%}
{% set parent = '' -%}
{% endif -%}

# {{parent}}{{element.name}}

**Description**:

{{element.description}}

**Requirement**:
{% if schemaview.get_slot(element.name|lower).required -%}
mandatory
{% else -%}
optional
{% endif %}


**Cardinality**:
{% if schemaview.get_slot(element.name|lower) -%}
{{ gen.cardinality(schemaview.get_slot(element.name|lower)) }}
{% endif %}

{%-for a in element.annotations %}
{% if a|string|first != '_' %}
 **{{a}}**:
{{ element.annotations[a].value }}

{%- endif -%}
{%- endfor -%}


{% if gen.example_object_blobs(element.name) %}
**Examples**
{% for name, blob in gen.example_object_blobs(element.name) %}
```json
{{ blob }}
```
{% endfor %}
{% endif %}

{% if gen.get_direct_slots(element)|length > 0 %}
{%- for slot in gen.get_direct_slots(element) -%}
{% if slot.range in schemaview.all_classes().keys() -%}

{% with element= schemaview.get_class(slot.range), parent=element.name, level=level + 1, slot = slot %}
{% include "nestedclass.md.jinja2" %}
 {% endwith %}


{% else %}

{% with element=slot, parent=element.name, level=level + 1 %}
{% include "slot.md.jinja2" %}
 {% endwith %}

{% endif %}
{% endfor -%}
{% endif -%}
