# Mappings

Summary of the semantic mappings between RAiD and schema.org data models.





RaidDTO -> "@type": "ResearchProject"
- identifier | identifier

Identifier -> "@type": "schema:PropertyValue"
- "https://registry.identifiers.org/registry/doi" | propertyID
- id -> value
- id -> RaidDTO.@id
- "https://raid.org/{id}" ->


