{% if element.description %}
{% set element_description_lines = element.description.split('\n') %}
{% for element_description_line in element_description_lines %}
_{{ element_description_line }}_
{% endfor %}
{% endif %}

{% if element.permissible_values -%}
## Permissible Values

| Value | Meaning | Description |
| --- | --- | --- |
{% for pv in element.permissible_values.values() -%}
| {{pv.text}} | {{pv.meaning}} | {{pv.description|enshorten}} |
{% endfor %}

{% endif %}

{% if gen.example_object_blobs(element.name) -%}
**Allowed values** (fetched at the time of the documentation generation):

| Value | Description |
| ---  | --- |
{% set list1 = gen.example_object_blobs(element.name ~ '-allowed')[0][1].split('\n') -%}
{% for value in list1 -%}
{% set enumData = value.split('|') -%}
| {{enumData[0]}} | {{enumData[1]}} |
{% endfor %}

This is a dynamic enumeration whose values are defined in externally managed vocabulary. 

Link to the vocabulary:
{% set source_nodes = element.reachable_from.source_nodes %}
{% if source_nodes is defined -%}
[{{source_nodes[0]}}]({{source_nodes[0]}})


{% endif %}

{% endif %}



