name: Build and test raid-agency-app

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.java'
  pull_request:
    paths-ignore:
      - '**.java'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: cd raid-agency-app/
      - name: Use Node.js 20
        uses: actions/setup-node@v6
        with:
          cache-dependency-path: raid-agency-app/package.json
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test