name: Build and test raid-agency-app

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.java'
  pull_request:
    paths-ignore:
      - '**.java'

jobs:
  build:
    defaults:
      run:
        working-directory: raid-agency-app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cd raid-agency-app/
      - name: Use Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test